/* General Styles */
body {
    font-family: inherit;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 9%, rgba(83, 9, 85, 1) 25%, rgba(4, 0, 11, 1) 58%, rgba(9, 9, 121, 1) 71%, rgba(79, 1, 106, 1) 100%);
    color: white;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: #ffffff;
}

.container {
    padding: 10px;
}

/* Hall of Fame Section */
.hall-of-fame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 40px;
    background: rgba(236, 130, 130, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
}

.hall-of-fame .img-container {
    flex-basis: 40%;
    text-align: center;
}

.hall-of-fame .img-container img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hall-of-fame .text-content {
    flex-basis: 55%;
    padding: 10px;
  
}

.hall-of-fame .text-content .text1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(255, 91, 91, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.1s ease-in-out;
}
.hall-of-fame .text-content .text1:hover{
    transform: scale(1.05);
}

.hall-of-fame .text-content .text2 {
    font-size: 1rem;
    color: #ffffff;
    padding: 15px;
    background-color: rgba(255, 91, 91, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.1s ease-in-out;
}
.hall-of-fame .text-content .text2:hover{
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .hall-of-fame {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .hall-of-fame .img-container,
    .hall-of-fame .text-content {
        flex-basis: 100%;
    }
}
