<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/css/civitai.css">
    <script src="/static/js/script.js"></script>
    <div class="container">
    <h1>Image Gallery</h1>
</div>
</head>
<body>
    <div class="hall-of-fame">
        <div class="img-container">
          <img src="/static/1.png" alt="Hall of Fame Image">
        </div>
        <div class="text-content">
          <h2>Positve Prompt:</h2>
          <div class="text1"></div>
          <h2>Negative Prompt:</h2>
          <div class="text2"></div>
        </div>
      </div>
    
    
 
</body>
</html>
