<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-to-Image Generator</title>
    <link rel="stylesheet" href="/static/css/easyrun.css">
  

</head>
<body>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <img id="streamed-image" src="" alt="Streaming Image">
    <div class="input-container">
        <textarea id="prompt" placeholder="Type your prompt here..."></textarea>
        <button id="send-btn">🔥</button>
        <button id="interrupt-btn" style="display:none;">Interrupt</button>

    </div>

    <div id="gallery" style="padding: 20px; text-align: center;"></div>
    <script src="/static/js/easyrun.js"></script>
    
</body>
</html>
