<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Input</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<link rel="stylesheet" href="/static/style.css">
<body>
    <div class="navbar">
        <a href="/">Main App</a>
        <a href="/update">Update Url</a>
        <a href="/Galley">Not Aca</a>
    </div>
    <div class="container mt-5">
        <h1 class="text-center">Enter URL</h1>
        <form method="post" action="/update">
            <div class="form-group">
                <label for="url">URL:</label>
                <input type="text" class="form-control" id="url" name="url" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
